
<section class="schedule-section spad pt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Upcoming Events</h2>
                    <p>browse various ongoing events</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="schedule-tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true">
                                <h5>Day 1</h5>
                                <p>Nov 04, 2023</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="false">
                                <h5>Day 2</h5>
                                <p>Nov 05, 2023</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab" aria-selected="false">
                                <h5>Day 3</h5>
                                <p>Nov 06, 2023</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab" aria-selected="false">
                                <h5>Day 4</h5>
                                <p>Nov 07, 2023</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-5" role="tab" aria-selected="false">
                                <h5>Day 5</h5>
                                <p>Nov 08, 2023</p>
                            </a>
                        </li>
                    </ul><!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="st-content" *ngFor="let event of events">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="sc-pic">
                                                <img [src]="event.imageUrl"
                                                    alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="sc-text">
                                                <h4>{{event.eventName}}</h4>
                                                <ul>
                                                    <li><i class="fa  fa-clock-o"></i> {{event.startDate | date:'dd-MM-yy'}} -   {{event.startTime}}</li>
                                                    <li><i class="fa fa-map-marker"></i> {{event.location}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <ul class="sc-widget">
                                                <li><i class="fa fa-user"></i> {{event.organizerName}}</li>
                                                <li><i class="fa fa-map-marker"></i> {{event.price}}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="book-div">
                                                <button class="primary-btn" (click)="bookNow(event)">Book Now</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal" id="bookModel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="login-container"> 
                     <table class="table">
                        <thead>
                            <tr>
                                <td>
                                    <label>Name</label>
                                    <input type="text" [(ngModel)]="eventMemebrs.Name" class="form-control">
                                </td>
                                <td>
                                    <label>Age</label>
                                    <input type="text" [(ngModel)]="eventMemebrs.Age"   class="form-control">
                                </td>
                                <td>
                                    <label>Identity Card</label>
                                    <select class="form-control" [(ngModel)]="eventMemebrs.IdentityCard" >
                                        <option value="">Select</option>
                                        <option value="Aadhar Card">Aadhar Card</option>
                                        <option value="Pan Card">Pan Card</option>
                                    </select>
                                </td>
                                <td>
                                    <label>Identity No</label>
                                    <input type="text"  [(ngModel)]="eventMemebrs.CardNo"  class="form-control">
                                </td>
                                <td>
                                    <label>Contact No</label>
                                    <input type="text" [(ngModel)]="eventMemebrs.ContactNo"   class="form-control">
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-success" (click)="AddMember()" >Add</button>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let member of bookingObj.EventBookingMembers">
                                <td>{{member.Name}}</td>
                                <td>{{member.Age}}</td>
                                <td>{{member.IdentityCard}}</td>
                                <td>{{member.CardNo}}</td>
                                <td>{{member.ContactNo}}</td> 
                            </tr>
                        </tbody>
                     </table>
                     <div class="row">
                        <div class="col-12">
                            <button class="btn btn-primary" (click)="makeBooking()">Make Booking</button>
                        </div>
                     </div>
                </div>
            </div>

        </div>
    </div>
</div>


